* {
    /* outline: 1px solid red; */
}

h1,
h2,
h3,
h4,
h5,
h6,
legend {
    color: #FF7833;
}


.menu-lateral__imagem {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: rgba(49, 51, 59, .8);
    flex: 0 0 16.25rem;
    position: sticky;
    top: 0;
    left: 0;
    min-height: 100vh;
    padding: 8rem 2rem;
    gap: 2rem;
    outline: 2px solid #fff;
}

.menu-lateral__lista {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1rem;
    text-align: end;
}

.menu-lateral__item {
    display: flex;
    flex-direction: column;
}


.menu-lateral__item::after {
    content: "";
    display: block;
    width: 12.83rem;
    height: 2px;
    background-color: #7B7B7B;
    pointer-events: none;
    margin-top: .2rem;
}


.menu-lateral__link {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    width: 100%;
    padding: 1rem 0;
    transition: padding-right 200ms ease-out;
}

.menu-lateral__link:hover,
.menu-lateral__link:focus {
    padding-right: 1rem;
    background-color: rgba(123, 123, 123, .4);
}

.main {
    padding: 1rem 4rem;
    flex: 1;
    background-color: rgba(123, 123, 123, .8);
    overflow-y: auto;
    min-height: 100vh;
}

.titulo {
    color: #ccc;
    padding: 9rem 0 5rem 0;
}

.caixa_texto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
}

.caixa_texto h2 {
    color: #FF7833
}

.endereço {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
}

.titulo-h3 {
    padding: 1rem 0;
    color: #FF7833;
}


.redes-sociais {
    list-style: none;
    display: flex;
    gap: 4rem;
}

.icone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    font-style: normal;
}

.icone svg {
    width: 1em;
    height: 1em;
}

.icone path {
    fill: currentColor;
}

.icone:hover {
    color: #FF7833;
}

.tipografia {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 0 2rem 0;
    line-height: 2;
}

.tipografia-one {
    border-left: 1px solid #FF7833;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

blockquote {
    margin-inline-start: 3rem;
}

.tag-pre {
    margin-inline-start: 3rem;
}

.cards-intro {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 1rem;
}

.box-text {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #FF7833;
    padding: 1rem 1rem;
    gap: 1rem;
}


.card-row {
    max-width: 740px;
    background-color: #31333c;
}

.card-row-text {
    padding: 0.5rem 1rem 1rem;
}

.card__title {
    font-size: 1.5rem;
}

.card-row img {
    max-width: 100%;
}

.row {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
    justify-content: space-between;
}

.row>* {
    flex: 1 0 0%;
}

.card-section {
    margin-bottom: 1rem;
}

.alternate {
    list-style-type: none;
    padding: 0;
}

.alternate li:not(:last-child) {
    border-bottom: 2px solid;
}

.list-emojis {
    list-style-type: "\1F642";
}

.contato{
    display: flex;
}

.contato__fieldset{
    width: 50%;
    border: none;
    display: inline-block;
    padding: 1rem 0;
}

.contato__legend{
    font-size: 1.5rem;
}
.contato__form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.group-cont{
    display: flex;
    gap: 30px;
}
.contato__grupo{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.contato__input{
    padding: .5rem;
    border-radius: 4px;
    border: none;
}
.contato_botao{
    cursor: pointer;
}


.contato_text{
    display: flex;
    flex-direction: column;
}

.contato__info{
    width: 50%;
}

.prefs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.prefs__grupo{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.prefs__acoes{
    display: flex;
    gap: 1rem;
}

.prefs__botao{
    width: 50%;
    cursor: pointer;
}
.button-edit{
    background-color: rgba(0, 0, 0, 0);
    outline: 1px solid #000;
    color: #fff;
}